/** fornt import **/

@import url("font-awesome.min.css");
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.svg#roboto-regular") format("svg"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/roboto-bold.eot");
  src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold.svg#roboto-bold") format("svg"), url("../fonts/roboto-bold.ttf") format("truetype"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  padding: 0px;
  /* font-family: "roboto-regular"; */
}

/** header start **/

header {
  height: 40px;
  background-color: #0846a9;
  position: sticky;
  top: 0px;
  z-index: 150;
  color: #ffffff;
  padding: 0px 16px;
}

.headerCard {
  display: flex;
}

.logoArea h1 {
  margin: 0;
  font-size: 23px;
  letter-spacing: 2px;
}

.logoArea span {
  font-size: 9px;
  position: relative;
  top: -10px;
  letter-spacing: 0.5px;
}

.rightsideArea {
  margin-left: auto;
  padding-top: 6px;
}

.rightsideArea ul li {
  display: inline-block;
  margin-left: 8px;
  position: relative;
}

.rightsideArea ul li span {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #f75858;
  position: absolute;
  top: 3px;
  left: 9px;
}

.userProfile p {
  font-size: 13px;
  margin-bottom: 0px;
}

.userProfile p img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 4px;
}

.userProfile .fa {
  margin-left: 4px;
  position: relative;
  top: 1px;
}

/** header end **/

/** footer start **/

footer {
  height: 20px;
  background-color: #f8f9fb;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #e1e1e1;
  padding: 0px 16px;
}

footer p {
  font-size: 10px;
  color: rgba(51, 51, 51, 1);
  line-height: 20px;
}

footer p span {
  font-weight: 600;
}

/** footer end **/

/** common style start **/

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.fa {
  font-size: 14px !important;
}

input, button, select, optgroup, textarea {
  font-weight: 600;
}

.iconsSvg {
  width: 16px;
  height: 16px;
}

.iconsSvgWidth {
  width: 22px;
  height: 22px;
}

.btn {
  font-size: 10px;
  margin-right: 8px;
  height: 26px;
  padding: 0px 16px;
}

.modal-title {
  font-size: 1rem;
}

.btn-primary-save {
  background-color: #01a450;
  color: #ffffff;
}

.btn-outline-primary-cancel {
  background-color: #ffffff;
  border: 1px solid #33333366;
}

.btn .fa {
  font-size: 10px !important;
}

.btn-primary, .btn-primary:hover {
  background-color: #0078d4;
}

.btn-outline-primary {
  color: #0078d4;
  border-color: #0078d4;
}

.btn-outline-primary:hover {
  background-color: transparent;
  color: #0078d4;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  cursor: default;
  background-color: #c8c6c4;
}

::-webkit-scrollbar-thumb {
  background-color: #8c8b8a;
  border-radius: 2px;
  /* outline      : 1px solid slategrey; */
}

.breadcrumb {
  padding: 0;
  background: transparent;
  font-size: 12px;
}

:hover {
  transition: 0.5s;
}

/** common style end **/

/** container-fluidInner start **/

.container-fluidInner {
  padding: 0px 36px;
}

/** container-fluidInner end **/

/** filter area start **/

.filterArea {
  margin-bottom: 16px;
}

.tab-pane {
  position: relative;
}

.tab-pane .filterArea {
  position: absolute;
  z-index: 1;
}

#Queries .filterArea, #BookProperties .filterArea, #Milestone .filterArea {
  position: relative;
}

/** filter area end **/

/** table start **/

.tableArea {
  margin-top: 16px;
  margin-bottom: 16px;
}

.tableFixHead {
  overflow: auto;
  max-height: 305px;
}

table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 125px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr th {
  background-color: #f3f2f1;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
}

th, td, .table th, .table td {
  padding: 0px 16px;
  color: #80807f;
  font-size: 12px;
}

tbody tr {
  background-color: #f8f9fb;
  border-top: 4px solid #fff;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
}

/**table end **/

.fileDrop {
  width: 450px;
  height: 160px;
  border: 2px dashed #b7b7b7;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 16px;
  background-color: #f8f9fb;
}

.fileDropinner {
  width: 200px;
  font-size: 16px;
  padding-top: 36px;
}

.clickBrowser {
  font-size: 12px;
  width: 90px;
  height: 30px;
  border-radius: 4px;
  background-color: #0078d4;
  color: #fff;
  position: relative;
  line-height: 30px;
  text-align: center;
  margin: auto;
}

.clickBrowser input {
  position: absolute;
  cursor: pointer;
  left: 0px;
  top: 0px;
  opacity: 0;
}

.fileDropinner hr {
  width: 50%;
  position: relative;
}

.fileDropinner hr:before {
  content: "or";
  position: absolute;
  top: -14px;
  background: #f8f9fb;
  left: 38%;
  padding: 2px;
  font-size: 13px;
}

.jobNumTitle {
  margin: 5px 0px;
  color: #a9a9a9;
  font-size: 13px;
}

.jobsArea {
  margin: 16px 0px;
}

.jobAreaInner {
  display: flex;
  box-shadow: 0px 0px 4px 2px #e1e1e1;
  border-radius: 5px;
  margin-bottom: 10px;
}

.jobAreaInnerLeft {
  width: 25%;
  display: flex;
}

.jobAreaInnerCenter {
  width: 45%;
}

.jobAreaInnerRight {
  width: 30%;
  padding: 6px 0px;
  position: relative;
}

.iconsArea {
  width: 30px;
  background: #f8f9fb;
  text-align: center;
  position: relative;
}

.iconsArea .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12px !important;
}

.jobDetails {
  background-color: #fff;
  padding: 18px 36px 18px 16px;
  width: calc(100% - 30px);
  border-right: 1px solid #e1e1e1;
}

.jobDetails p {
  margin-bottom: 6px;
  font-size: 10px;
  color: #a9a9a9;
}

.jobDetails h2 {
  font-size: 16px;
}

.completeProgressBar {
  height: 4px;
  background-color: #efefef;
  border-radius: 5px;
}

.completeProgressBarInner {
  background-color: #31b928;
  height: 4px;
  border-radius: 5px;
}

.statusJob, .statusJobTime {
  display: flex;
  margin-top: 10px;
}

.statusJobTime>div {
  width: 50%;
}

p strong {
  color: #000;
}

.statusJobTime p .fa {
  font-size: 12px !important;
}

.completeStatus {
  margin-left: auto;
}

.jobAreaInnerCenter {
  border-right: 1px solid #e1e1e1;
  padding: 46px 16px 0px 16px;
  text-align: center;
}

.circleAreaTime {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EFEFEF;
  margin: auto;
  /* -webkit-animation: pulse 2s linear 1s infinite; */
}

.circleAreaTimeInner {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  top: 0.9px;
  left: 0.9px
}

.jobAreaInnerCenter ul li {
  display: inline-block;
  text-align: center;
  padding: 0px 16px;
  position: relative;
}

.jobAreaInnerCenter ul li p {
  color: #a9a9a9;
  text-transform: uppercase;
  font-size: 10px;
  margin: 0;
  margin-top: 8px;
  font-weight: 600;
}

.progressStage .circleAreaTime {
  background-color: #0078d4;
}

.progressStage p {
  color: #0078d4 !important;
}

.stageArea::before {
  content: '';
  border-bottom: 1px dashed #b7b7b7;
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: -1;
  left: 50px;
}

.stageArea:last-child::before {
  opacity: 0;
}

.completeStage .circleAreaTime {
  background-color: #31b928;
  /* -webkit-animation: complete 2s linear 1s infinite; */
}

.stageArea.completeStage::before {
  border-bottom: 1px dashed #31b928;
}

.jobAreaInnerRight p {
  font-size: 10px;
  font-weight: 600;
  margin: 5px 0px;
}

.iconsAction li {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 5px;
}

.iconsAction {
  margin-top: 12px;
}

.iconsAction li.active {
  background-color: #f8f9fb;
}

.iconsAction li p {
  font-size: 12px;
  margin: 0;
}

.jobAreaInnerRight>div {
  padding: 0px 20px;
}

.applicationArea {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px !important;
}

.closeIcons {
  position: absolute;
  right: 7px;
  top: -2px;
}

.closeIcons .fa {
  font-size: 10px !important;
}

.outputFilesArea ul li {
  background-color: #f8f9fb;
}

.jobsAreaOuter {
  height: 63vh;
  overflow: auto;
  padding: 2px;
}

/* @-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 1px #ea4c89, inset 0 0 1px #ea4c89;
  }
  50% {
    box-shadow: 0 0 4px #ea4c89, inset 0 0 4px #ea4c89;
  }
  100% {
    box-shadow: 0 0 1px #ea4c89, inset 0 0 1px #ea4c89;
  }
}
@-webkit-keyframes complete {
  0% {
    box-shadow: 0 0 2px #31b928, inset 0 0 2px #31b928;
  }
  50% {
    box-shadow: 0 0 4px #31b928, inset 0 0 4px #31b928;
  }
  100% {
    box-shadow: 0 0 2px #31b928, inset 0 0 2px #31b928;
  }
} */